.material-card {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  background-color: darkred;
  height: 370px;
  width: 260px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10%;
}

.material-card__name {
  align-self: center;
  font-size: 20px;
}

.material-card__hmis-list {
  padding: 10px 10px;
}

.material-card__hmis {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
}

.material-card__hmis--health {
  background-color: blue;
}

.material-card__hmis--flammability {
  background-color: red;
}

.material-card__hmis--physical {
  background-color: orange;
}

.material-card__hmis-value {
  font-weight: bold;
}

.material-card__hmis--ppe {
  background-color: white;
  color: black;
}

.material-card__ppe {
  display: flex;
  flex-direction: column;
}

.material-card__ppe-title {
  border-bottom: 1px dotted;
  text-align: center;
  margin: 20px 0 10px 0;
}

.material-card__ppe-item {
  font-size: 20px;
  padding-top: 5px;
  text-align: center;
}
