.profile {
  padding: 20px;
  max-width: 1280px;
  margin: 0;
}

.profile__container {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
}

.profile__content {
  padding: 0;
}

.profile__title {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  color: white;
}

.profile__materials {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 425px) {
  .profile__container {
    display: flex;
    flex-direction: column;
  }
}
