.Footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 81px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 20px;
  color: white;
  font-family: "Antonio", "Arial";
}

.Footer__name {
  margin: 0;
  margin-left: 20px;
}

.Footer__year {
  margin: 0;
  margin-right: 20px;
}
