.navigation {
  padding-top: 2.5rem;
}

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navigation__link {
  text-decoration: none;
  color: white;
  padding: 3px;
  display: block;
  transition: all 0.3s ease;
  font-size: 16px;
  position: relative;
  padding-left: 2.25rem;
}

.navigation__link::before {
  content: "⟶";
  position: absolute;
  top: 2px;
  left: 1rem;
  right: 1rem;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.3s ease;
}

.navigation__link:hover {
  color: red;
  transform: translateX(1px);
  border-radius: 4px;
}

.navigation__link:hover::before {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (max-width: 768px) {
  .navigation__link::before {
    left: -1rem;
  }
}

@media screen and (max-width: 425px) {
  .navigation__item:nth-child(3) {
    margin-bottom: 10px;
  }
}
